name: "Chromatic - Ironwood"

on:
  push:
    paths:
      - "apps/ironwood/**"
      - "packages/**"
      - "turbo.json"
      - "package.json"
      - "yarn.lock"
      - ".github/workflows/chromatic-ironwood.yml"

jobs:
  chromatic:
    name: Run Chromatic
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "yarn"
          cache-dependency-path: apps/ironwood/yarn.lock
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Build
        run: npx turbo build --filter=ironwood
      - name: "Build Storybook"
        run: yarn workspace ironwood build-storybook -- --webpack-stats-json
      - name: Run Chromatic
        uses: chromaui/action@latest
        with:
          autoAcceptChanges: "main"
          onlyChanged: true
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN_IRONWOOD }}
          storybookBuildDir: storybook-static
          workingDir: apps/ironwood
